.clix {
  color: #7e7a07;
}

.clixet {
  color: #3c5311;
}

.dignity {
  color: #090977;
}

/* 
body {
  background-color: orange;
} */

/* Just...stuff */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* [>-[ DISPLAYS ]-<] */

#display-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stat-display {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 10px;
  width: 16.9rem;

  margin: 0.8rem auto;

  box-shadow: rgba(0, 0, 0, 0.411) 0 0 2rem;
}

#clix-display {
  border: 10px ridge #7e7a07;

  color: #524f08;
  background-color: #cec934;
}

#dignity-display {
  border: 10px ridge #090977;

  color: #0b0b2b;
  background-color: #4343eb;
}

.clik-multiplier-display {
  font-size: 2.4rem;
  position: absolute;
  opacity: 0;

  z-index: 999999999;

  color: rgb(8, 80, 8);
  text-shadow: rgba(0, 0, 0, 0.25) 1.6rem 2.4rem 0.8rem;
}

.combo {
  color: rgb(117, 12, 12);
  font-size: 3.6rem;
}

/* [>-[ DISPLAYS ]-<] */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* [>-[ BUTTONS ]-<] */

/* Clik */
#clik {
  background-color: #7e7a07;
  color: #faf8c0;

  box-shadow: rgba(0, 0, 0, 0.103) 1.6rem 2.4rem 2rem;
}

#clik:hover {
  background-color: #7e7a07d5;
  color: #fffc9db2;
}

#clik:active {
  background-color: #4d4a05ad;
  color: #fffc9d1f;
}

/* [>-[ BUTTONS ]-<] */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* [>-[ CLIXET ]-<] */

/* Clixet Menu */
details.clixet {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 10px;
  width: 16.9rem;

  box-shadow: rgba(0, 0, 0, 0.411) 0 0 2rem;
}

details.clixet summary {
  text-align: left;
}

/* Stereotypical Clixet Button */
.clixet-btn {
  background-color: #3c5311;
  color: #e9fac0;
  margin: 0.4rem 0;

  box-shadow: rgba(0, 0, 0, 0.103) 1.6rem 2.4rem 2rem;
}

.clixet-btn:hover {
  background-color: #3c5311d7;
  color: #e9fac086;

  z-index: 9999;
}

.clixet-btn:active {
  background-color: #3c5311ab;
  color: #e9fac04d;
}

/* [>-[ BUTTONS ]-<] */
